<div class="season-inputs-container">
  <div class="input-count-container">
    <h2>How many players this season?</h2>
    <mat-form-field
      [hideRequiredMarker]="options.value.hideRequired"
      [floatLabel]="options.value.floatLabel">
      <mat-select required >
        <mat-option *ngFor="let n of userNumbers" (click)="setUserAmount(n)" value="n">{{n}}</mat-option>
      </mat-select>
      <mat-placeholder>Select Number of Players</mat-placeholder>
    </mat-form-field>

  </div>
</div>
