
<div class="game-info">
  <mat-form-field
    [hideRequiredMarker]="options.value.hideRequired"
    [floatLabel]="options.value.floatLabel">
  <input matInput placeholder={{playingUserTop.player.name}} [(ngModel)]="playingUserTop.tourneyScore"
    required type="number">
  </mat-form-field>
  <mat-form-field
    [hideRequiredMarker]="options.value.hideRequired"
    [floatLabel]="options.value.floatLabel">
  <input matInput placeholder={{playingUserBottom.player.name}} [(ngModel)]="playingUserBottom.tourneyScore"
    required type="number">
  </mat-form-field>
  <button mat-raised-button (click)="addMatch(roundIndex)" [disabled]="!isGameFinished()" color="accent"> Add Match</button>
  <div *ngIf="tourneyPlayers[2][0]" class="season-winner">
    <h3> {{tourneyPlayers[2][0].player.name}} Wins the Season!</h3>
  </div>
</div>
<div class="tournament-rounds-container">
  <div class="round r-of-4">
      <div class="bracket-game" >
        <div class="player" *ngFor="let tPlayer of tourneyPlayers[0]; let odd=odd; let i = index"
        [ngClass]="{'top': !odd, 'bot': odd,
          'playing': tPlayer.tourneyPlaying, 'win': tPlayer.tourneyWin, 'loss': tPlayer.tourneyLoss}">
        {{tPlayer.player.name}}
          <div class="score">
            {{tPlayer.tourneyScore}}
          </div>
        </div>
      </div>
  </div>
  <div class="connectors-1"> </div>
  <div class="connectors-2"> </div>
  <div class="round r-of-2">
    <div class="bracket-game">
      <ng-container *ngFor="let tPlayer of tourneyPlayers[1]; let odd=odd; let i = index">
        <div class="player"
          [ngClass]="{'top': !odd, 'bot': odd,
            'playing': tPlayer.tourneyPlaying, 'win': tPlayer.tourneyWin, 'loss': tPlayer.tourneyLoss}">
          {{tPlayer.player.name}}
          <div class="score">
            {{tPlayer.tourneyScore}}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="connectors-2" *ngIf="tourneyPlayers[2][0]"> </div>
  <div class="connectors-2" *ngIf="tourneyPlayers[2][0]"> </div>
  <div class="round r-of-1">
    <div class="bracket-game">
      <ng-container *ngFor="let tPlayer of tourneyPlayers[2]; let odd=odd; let i = index">
        <div class="player win">
          {{tPlayer.player.name}}
        </div>
      </ng-container>
    </div>
  </div>
</div>
