.tournament-rounds-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.round {
}
.round.r-of-4 {

}
.round.r-of-2 {
  // margin-top: 25px;
}
.round.r-of-1 {
  // margin-top: 35px;
}
.bracket-game {
  max-width: 250px;
}
.player {
  min-width: 175px;
  border: 1px solid #AAA;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
}
.player.top {
  border-radius: 3px 3px 0 0;
  margin-top: 10px;
}
.player.bot {
  border-radius: 0 0 3px 3px;
  margin-bottom: 10px;
}
.player .score {
  display: inline;
  float: right;
  border-left: 1px solid #AAA;
  padding-left: 10px;
  padding-right: 10px;
  background: #EEE;
}
.player.win {
  background-color: #B8F2B8;
}
.player.loss {
  background-color: #F2B8B8;
}
.player.playing {
  background-color: #FFE47F;
}
.connectors-1 {
  min-width: 30px;
  height: 72px;
  border-right: 2px solid #AAA;
  border-top: 2px solid #AAA;
  border-bottom: 2px solid #AAA;
}
.connectors-2 {
  min-width: 30px;
  border: 1px solid #AAA;
}
.season-winner {
  display: inline-block;
  margin-left: 30px;
}
