<h2>Rocket Foosball Users</h2>

<div>
  <label> User name:
    <input #userName/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(userName.value); userName.value=''">
    add
  </button>
</div>
<div class="glossary-container mat-elevation-z8">
    <!-- <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div> -->

    <mat-table #table [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Wins Column -->
      <ng-container matColumnDef="wins">
        <mat-header-cell *matHeaderCellDef> Wins </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.wins}} </mat-cell>
      </ng-container>

      <!-- Losses Column -->
      <ng-container matColumnDef="losses">
        <mat-header-cell *matHeaderCellDef> Losses </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.losses}} </mat-cell>
      </ng-container>

      <!-- Season Wins Column -->
      <ng-container matColumnDef="seasonWins">
        <mat-header-cell *matHeaderCellDef> Season Wins </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.seasonwins}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="user-row" *matRowDef="let row; columns: displayedColumns;" routerLink="detail/{{row.id}}"></mat-row>
    </mat-table>
  </div>


<!-- <ul class="users">
  <li *ngFor="let user of users">
    <a routerLink="detail/{{user.id}}">
      <span class="badge">{{user.id}}</span> {{user.name}}
    </a>
    <button class="delete" title="delete user"
    (click)="delete(user)">x</button>
  </li>
</ul> -->
<!-- <router-outlet></router-outlet> -->
