<div *ngIf="user">
  <h2> {{user.name | uppercase}} Details</h2>
  <div><span>id: </span> {{user.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="user.name" placeholder="name">
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>

  <div class="games-played-container"
    fxLayout="row"
    fxLayoutAlign="center" >
    <div class="player-info" *ngFor="let n of playerInfo" fxFlex="20%">
      <div class="player-info-title">{{n.title}}</div>
      <div *ngIf="n.title !=='Win Percentage'">{{n.value}}</div>
      <div *ngIf="n.title ==='Win Percentage'">{{n.value * 100 | number: '.0-2'}}%</div>
    </div>
  </div>
  <app-match-list [user]="user" [allUsers]="users"></app-match-list>
</div>
