<div class="app">
  <div class="header"
  fxLayout="row"
  fxLayoutAlign="center" >
    <div class="blue-header"
    fxFlex="50%" >
      <h1 class="white header-font"> {{ title1 }} </h1>
    </div>
    <div class="orange-header"
    fxFlex="50%" >
      <h1 class="white header-font"> {{ title2 }} </h1>
    </div>
  </div>

  <nav class="banner-nav"
    fxLayout = "row"
    fxLayoutAlign="center">
    <a *ngFor="let n of navList" class="banner-link" [class.active]="isActive(n)" (click)="select(n)" fxFlex="20%" routerLink="{{n.link}}">{{n.name}}</a>
  </nav>

  <div class="content">
    <router-outlet class="mat-typography"></router-outlet>
    <app-messages></app-messages>
  </div>
</div>
