<mat-table #table [dataSource]="dataSource">

      <!-- Winning Id Column -->
      <ng-container matColumnDef="blueUserNames">
        <mat-header-cell *matHeaderCellDef> blueUserNames </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.blueUserNames}} </mat-cell>
      </ng-container>

      <!-- orangeUserId Column -->
      <ng-container matColumnDef="orangeUserNames">
        <mat-header-cell *matHeaderCellDef> orangeUserNames </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.orangeUserNames}} </mat-cell>
      </ng-container>

      <!-- blueScore Column -->
      <ng-container matColumnDef="blueScore">
        <mat-header-cell *matHeaderCellDef> blueScore </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.blueScore}} </mat-cell>
      </ng-container>

      <!-- orangeScore Column -->
      <ng-container matColumnDef="orangeScore">
        <mat-header-cell *matHeaderCellDef> orangeScore </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.orangeScore}} </mat-cell>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date | date}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="user-row" *matRowDef="let row; columns: displayedColumns;" ></mat-row>
    </mat-table>
